<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_activity_root" name="Activity Logger" sequence="1000"/>

    <menuitem id="menu_activity_sessions" name="Sessions" parent="menu_activity_root" sequence="10"/>
    <menuitem id="menu_activity_requests" name="Requests" parent="menu_activity_root" sequence="20"/>
    <menuitem id="menu_activity_changes" name="Changes" parent="menu_activity_root" sequence="30"/>
    <menuitem id="menu_activity_report" name="Report" parent="menu_activity_root" sequence="40"/>
    <menuitem id="menu_activity_rules" name="Rules" parent="menu_activity_root" sequence="50"/>
</odoo>


